* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* Navbar */
header {
  background: #333;
  color: white;
  padding: 15px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}


.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Sections */
section {
  padding: 50px 20px;
  text-align: center;
}

/* Projects */
.projects {
  background: gray
}

.project-card {
  background: white;
  margin: 15px auto;
  padding: 20px;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Responsive */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  nav ul li {
    margin: 10px 0;
  }
}